body {
    font-family: Playfair Display; 

}

h1 { 
    font-size: 72px;
    color: #616057;
    padding: 20px;
}

h2 { 
    font-size: 40px;
    color: #616057;
    text-align: center;

}
h3 { font-size: 22px;
     color:#616057;
     font-family: Playfair-Display;
     font-weight: normal;

}

h4 { font-size: 18px;
}


p { 
    font-family: Avenir Light;
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
}


/*Header*/ 

header {
    background-color: #F0EBDE;
    padding: 40px;
    height: 15px;
  }

  header li {
    display: inline-block;
    padding: 0px 10px;
    position: relative; 
    bottom: 15px;
    left: 43%;

  }
  #logo {
    margin-left: 10px;
    top: 10px;
    position: absolute; 


  }

.nav justify-content-center {

}


.nav-link {
    color: black;
}

/*Jumbotron section*/ 


.heroBackground {
    background-color: #f7f5ef; 


}

.heroContent { 
display: flex; 
justify-content: center;
Align-items: center;
padding: 20px;
margin: 0 Auto;



}
.display-4 {

  
}


/*Stat Secion*/

.Containerparent {
    background-color: #f7f5ef; 
    border:1px solid #ccc;
    padding: 1em  1em;
    flex: 1;
   
}

.container div {
 
   }


.Container {
    display: flex;
    margin-bottom: 15px;
    margin-right: 300px;
    margin-left: 300px;
    justify-content: center;
     padding: 100px 50px;
    flex-wrap: wrap;
    flex-wrap: wrap;
}

.card {
 background-color: #F0EBDE

}
.row {
   
        display: flex;
      


      
}

.card-title {
   font-size: 50px;
   line-height: 67px;
   color: black;


}


.card-img-top {
    width: 76px;
    height: 53.48px; 
    margin: 0 auto;
    margin-top: 40px 

}

    


.card-text {
   font-weight: 300;
   line-height: 20px;
}


.contentSection {
    padding: 100px; 
    padding-bottom: 100px;
    
}

/*The Problem Section */

.problemContent {
    padding: 100px 100px 100px 0px;
    width: 50%;
    align-content: center;
    width: 100%;
    display: flex;
}

.problemBackground {

    width: 100%;
}

.yokeImage {
    
    float: right;
}


 

.display-5 {
    padding: 50px 150px;
   
}

.Background {
    background-color: #f7f5ef; 
   width: 100%;
  
    
}

.MiddleContent { 
display: flex; 
justify-content: center;
Align-items: center;
background-color: #f7f5ef; 
margin: 10px 400px;
padding: 10px 200px;

}

.heading {
    text-align: center;

}



.solutionheading {
 padding: 50px 0px;
  text-align: center;

  
}



.subHeading {
    margin-top: 50px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
  }
  
  img {
    width: auto;
    height: auto;
  }



 
